{% extends "python/layout.html" %}
{% load static %}
{% block body %}
<!--loops back based on what happens in views-->
    <h1>Enter Numbers</h1>
    {% if numbers %}
        <p>Numbers entered: {{ numbers }}</p>
    {% endif %}
    {% if average %}
        <p>The average of {{ numbers }} is {{ average }}.</p>
    {% else %}
        <form method="post" action="{% url 'python:calculate_average' %}"> <!--this line links to views-->

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Submit</button>
        </form>
    {% endif %}
    {% endblock %}

    